.answerItem {
  border: 1px solid rgba(#fff, .7);
  border-radius: .25rem;
  cursor: pointer;
  padding: .75rem 1rem;
  transition: background .3s ease-in-out;

  & + & {
    margin-top: 1rem;
  }

  &:hover {
    background: rgba(#fff, .15);
  }

  &.success {
    background: rgba(161, 240, 69, .7);
  }

  &.error {
    background: rgba(240, 87, 108, .7);
  }
}
